@use './mixins' as *;
@use "sass:color" as *;

::selection {
	background-color: v("salmon");
	color: v("white");
}

%container {
	padding: 0 max(20px, 50vw - 890px / 2);
}

html {
	font-size: 16px;
}

body {
	font: 600 1rem / 1.5 "Barlow", sans-serif;
	background-color: v("off-white");
	color: v("off-black");
}

@for $i from 1 through 6 {
	h#{$i} {
		font-family: "Fraunces", sans-serif;
		font-weight: 900;
	}
}

.btn {
	--highlight-color: transparent;
	--text-color: var(--off-black);
	display: inline-flex;
	place-items: center;
	text-transform: uppercase;
	height: 4rem;
	padding: 0 2rem;
	font-family: "Fraunces", sans-serif;
	color: v("text-color");
	background: v("highlight-color");
	cursor: pointer;
	user-select: none;
	transition: background-color 0.2s ease, color 0.2s ease;

	&__icon {
		fill: currentColor;
		transition: opacity 0.2s ease;
	}

	&:hover,
	&:focus {
		.btn__icon {
			opacity: 0.5;
		}
	}

	&--primary {
		border-radius: 2rem;
	}

	&--clear {
		height: 3rem;
		width: 3rem;
		place-content: center;
		padding: 0;
	}
}

.link {
	font-family: "Fraunces", sans-serif;
	text-transform: uppercase;

	&--underlined {
		--theme-color: var(--off-black);
		position: relative;
		padding: 0.065rem 0.5rem;
		z-index: 1;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 0.7rem;
			border-radius: 0.5rem;
			background-color: v("theme-color");
			z-index: -1;
			opacity: 0.4;
			transition: opacity 0.2s ease;
		}

		&:hover {
			&:before {
				opacity: 0.8;
			}
		}
	}
}

.nav {
	&--header {
		background-color: v("white");
		position: fixed;
		top: calc(48px + (#{size(24px, 40px, 1024)} * 2));
		left: 50%;
		transform: translateX(-50%);
		width: calc(100% - 48px);
		text-align: center;
		padding: 3rem 0;
		flex-direction: column;
		place-items: center;
		display: none;

		&:before {
			content: "";
			position: absolute;
			right: 0;
			top: -2rem;
			border: 1rem solid v("white");
			border-top-color: transparent;
			border-left-color: transparent;
		}

		.nav__link {
			--highlight-color: var(--yellow);
			--text-color: var(--off-black);

			&:not(.btn) {
				color: adjust(c("off-black"), $alpha: -0.5);
				font-size: 1.25rem;
				padding: 1rem 0;
				transition: color 0.2s ease;

				&:hover {
					color: v("off-black");
				}
			}

			&:last-child {
				margin-top: 1rem;
			}
		}

		@media screen and (min-width: 768px) {
			background: none;
			display: flex;
			flex-direction: row;
			justify-content: unset;
			align-items: center;
			position: static;
			transform: none;
			width: unset;
			padding: 0;
			text-align: right;

			&:before {
				content: none;
			}

			.nav__link {
				--highlight-color: var(--white);
				--text-color: var(--off-black);
				margin-left: 3rem;

				&:not(.btn) {
					color: v("white");

					&:hover {
						color: adjust(c("white"), $alpha: -0.5);
					}
				}

				&:last-child {
					margin-top: 0;
				}

				&.btn {
					&:hover {
						--highlight-color: #{adjust(c("white"), $alpha: -0.8)};
						--text-color: var(--white);
					}
				}
			}
		}
	}

	&--footer {
		display: flex;
		justify-content: center;

		> * + * {
			margin-left: 1.5rem;
		}

		.nav__link {
			opacity: 0.7;
			mix-blend-mode: luminosity;
			transition: opacity 0.2s ease, color 0.2s ease;

			&:hover {
				opacity: 1;
				color: v("white");
			}
		}
	}

	&--is-open {
		display: flex;
	}
}

.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	padding: size(24px, 40px, 1024) size(18px, 40px, 1024);
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;

	&__nav-toggle {
		color: v("white");

		@media screen and (min-width: 769px) {
			display: none;
		}
	}

	&__logo {
		fill: v("white");
	}
}

.section {
	display: grid;
	gap: 0;
	grid-template-columns: repeat(2, 1fr);
	background-color: v(off-white);

	@media screen and (max-width: 1024px) {
		grid-template-columns: 1fr;
	}

	&--intro {
		@include ar(2880, 1600, false);
		display: block;
		background: url("../images/desktop/image-header.jpg") no-repeat top / cover;
		text-align: center;
		padding-top: size(72px, 160px, 1280);

		@media screen and (max-width: 768px) {
			@include ar(750, 1076, false);
		}

		.section__header {
			margin: size(24px, 72px, 1280) auto;
		}

		.section__title {
			text-transform: uppercase;
			letter-spacing: 0.2em;
			color: v("white");
			font-size: size(32px, 56px, 1024);
		}

		.section__graphic {
			animation: scroll 1s ease-in-out infinite alternate;

			@keyframes scroll {
				to {
					transform: translateY(30%);
				}
			}
		}
	}

	&--transform-your-brand,
	&--stand-out {
		align-items: stretch;

		@media screen and (min-width: 1025px) {
			&:nth-child(even) {
				.section__header {
					order: -1;
				}
			}
		}

		.section__graphic-container {
			@include ar(1, 1);
		}

		.section__header {
			@include ar(1, 1, false);
			display: flex;
			justify-self: center;
			max-width: 52ch;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			padding: size(56px, 128px, 1440) 1.5rem;

			@media screen and (max-width: 1024px) {
				align-items: center;
			}

			> * {
				margin-top: size(32px, 40px, 1024);
			}
		}

		.section__title {
			font-size: size(24px, 40px, 1024);

			@media screen and (max-width: 1024px) {
				text-align: center;
			}
		}

		.section__description {
			color: adjust(c("off-black"), $alpha: -0.4);

			@media screen and (max-width: 1024px) {
				text-align: center;
			}
		}
	}

	&--transform-your-brand {
		.section__cta {
			--theme-color: var(--yellow);
		}
	}
	&--stand-out {
		.section__cta {
			--theme-color: var(--salmon);
		}
	}

	&--graphic-design,
	&--photography {
		@include ar(1, 1);
		display: flex;
		align-items: flex-end;
		justify-content: center;

		@media screen and (max-width: 1024px) {
			@include ar(295, 470);
			display: flex;
		}

		.section__header {
			max-width: 40ch;
			height: auto;
			padding: 4rem 1.5rem;
			text-align: center;
		}

		.section__title {
			font-size: 1.75rem;
			margin-bottom: 1em;
			mix-blend-mode: luminosity;
		}

		.section__description {
			opacity: 0.7;
			mix-blend-mode: luminosity;
		}
	}

	&--graphic-design {
		background: url("../images/desktop/image-graphic-design.jpg") no-repeat top /
			cover;

		@media screen and (max-width: 1024px) {
			background: url("../images/mobile/image-graphic-design.jpg") no-repeat top /
				cover;
		}
	}
	&--photography {
		background: url("../images/desktop/image-photography.jpg") no-repeat top /
			cover;

		@media screen and (max-width: 1024px) {
			background: url("../images/mobile/image-photography.jpg") no-repeat top /
				cover;
		}
	}

	&--testimonials {
		display: block;
		padding: size(72px, 160px, 1024) 1.5rem;
		text-align: center;

		.section__header {
			margin-bottom: size(56px, 80px, 1024);
		}

		.section__title {
			font-size: 1.5rem;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			opacity: 0.5;
		}
	}

	&--gallery {
		grid-template-columns: repeat(4, 1fr);

		@media screen and (max-width: 1024px) {
			grid-template-columns: repeat(2, 1fr);
		}

		img {
			max-width: 100%;

			@media screen and (max-width: 1024px) {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}
}

.testimonials {
	display: grid;
	grid-template-columns: repeat(3, 320px);
	gap: 2rem;
	place-items: center;
	place-content: center;

	@media screen and (max-width: 1024px) {
		grid-template-columns: 1fr;
		gap: 4rem;
	}
}

.testimonial {
	margin: 0;
	max-width: 320px;

	> * + * {
		margin-top: 4rem;

		@media screen and (max-width: 1024px) {
			margin-top: 2rem;
		}
	}

	&__image {
		width: 4.5rem;
		height: 4.5rem;
		border-radius: 2.25rem;
	}

	&__quote {
		opacity: 0.5;
		margin-left: 0;
		margin-right: 0;
		font-size: 1.25rem;
	}

	.author {
		&__name {
			font-family: "Fraunces", sans-serif;
			font-size: 1.25rem;
			margin-bottom: 0.25rem;
		}

		&__title {
			opacity: 0.3;
			font-weight: 400;
			font-size: 0.85rem;
		}
	}
}

.footer {
	padding: size(48px, 72px, 1024);
	text-align: center;
	background-color: v("cyan-dark-moderate");

	> * + * {
		margin-top: size(32px, 48px, 1024);
	}

	&__homelink {
		display: inline-block;

		&:hover {
			.footer__logo {
				fill: v("white");
			}
		}
	}

	&__social {
		margin-top: 5rem;
	}

	svg {
		mix-blend-mode: luminosity;
		fill: currentColor;
		transition: fill 0.2s ease;
	}
}

.social {
	display: inline-flex;
	align-items: center;

	> * + * {
		margin-left: 1.5rem;
	}

	&__link {
		&:hover {
			.social__icon {
				fill: v("white");
			}
		}
	}
}
